# Copyright (c) 2025, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v1.0 as shown at
# https://oss.oracle.com/licenses/upl.


# When copying to .env file, uncomment the env var you would like to modify.
# To use default value, leave the env var commented.

# MCP_HOST_FILE=
# URL=
# MODEL=