# Default/Root Level Owner
* @krisrice

# redundant but for clarity owner of this file
CODEOWNERS @krisrice

.git*/ @krisrice @AlaaShaker @gebhardtr @dustin-sale
scripts/ @krisrice @AlaaShaker @gebhardtr @dustin-sale
src/oci-* @krisrice @AlaaShaker @gebhardtr @dustin-sale
tests/ @krisrice @AlaaShaker @gebhardtr @dustin-sale
Makefile @krisrice @AlaaShaker @gebhardtr @dustin-sale
*.md @krisrice @AlaaShaker @gebhardtr @dustin-sale
*.txt @krisrice @AlaaShaker @gebhardtr @dustin-sale
*.ini @krisrice @AlaaShaker @gebhardtr @dustin-sale
